<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="eu.alessiobianchi.safetynethelper">

    <!-- The AndroidDeviceVerifier requires INTERNET to verfiy the response from SafetyNet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application />

</manifest>
